@model IEnumerable<RestauranteQR.Models.Plato>

@{
    ViewData["Title"] = "Carta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carta</h1>

<p>
    <h2>HACE TU PEDIDO TOCANDO LOS BOTONES</h2>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td><button asp-controller="@item" asp-action="AgregarPedido">+</button></td>
            <td><button asp-controller="@item" asp-action="RemoverPedido">-</button></td>

</tr>
        }
    </tbody>
</table>
