        @model RestauranteQR.ViewModel.VMPedido



        @{
            ViewData["Title"] = "Carta";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <p>
            <h2>Mi pedido</h2>
        </p>
            @*<thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Precio)
                        </th>
                        <th></th>
                    </tr>
                </thead>*@
    <form asp-action="Create">
        <div class="row">
            <label asp-for="MesaId" class="control-label"></label>
            <select asp-for="MesaId" class="form-control" asp-items="ViewBag.MesaId"></select>
            <span asp-validation-for="MesaId" class="text-danger"></span>
        </div>
        @for (int i = 0; i < Model.ListaVMPedidoItem.Count; i++)
        {

            <div class="row size align-content-center">
            
                   <input asp-for="@Model.ListaVMPedidoItem[i].NombrePlato" class="col-md" value="@Model.ListaVMPedidoItem[i].NombrePlato" type="text" disabled/> 
                
                   <div class="col-sm">
                       <span>$</span>
                       <input asp-for="@Model.ListaVMPedidoItem[i].PrecioPlato" value="@Model.ListaVMPedidoItem[i].PrecioPlato" type="text" disabled />
                   </div>
                <div class="row quantity">
                    <div>
                        <input type="hidden" asp-for="@Model.ListaVMPedidoItem[i].PlatoId" /> @*id="cantidad"*@

                    </div>
                    <div>
                    <input type="button" value="+" onclick="Agregar(@i)" />
                    </div>
                    <div>
                      <input asp-for="ListaVMPedidoItem[i].Cantidad" value="@Model.ListaVMPedidoItem[i].Cantidad"/> 

                    </div>

                    <div>
                        <input type="button" value="-" onclick="Restar(@i)" />

                    </div>
                </div>
                <div class="line"> </div>
            </div>

        }

        <input type="submit" value="Confirmar Pedido!" class="btn btn-primary" />
    </form>
        <script>

            function Agregar(indiceTocado) {
                //vamos a hacer que sume el innerHtml para que muestre la cantidad correcta en el textbox //, new {arroba type = "number" }
                //var valor = document.getElementById('ListaVMPeidoItem_' + indiceTocado + '__Cantidad');
                //alert(valor.value);
                console.log('indice', indiceTocado)

                var elemento = document.getElementById('ListaVMPedidoItem_' + indiceTocado + '__Cantidad');
                var num = parseInt(elemento.value);
                num++;
                elemento.value = num;

            }

            function Restar(indiceTocado) {
                //vamos a hacer que reste el innerHtml para que muestre la cantidad correcta en el textbox
                //var valor = document.getElementById('ListaVMPeidoItem_' + indiceTocado + '__Cantidad');
                //alert(valor.value);

                var elemento = document.getElementById('ListaVMPedidoItem_' + indiceTocado + '__Cantidad');
                var num = parseInt(elemento.value);
                if (num > 0) {
                    num--;
                    elemento.value = num;
                }

            }

            //function Dev() {
            //   ListaVMPedidoItem misPedidos = new ListaVMPedidoItem();
            //    return misPedidos;
           // }

        </script>

    <style>
        .quantity {
        }
        .line {
            width: 100%;
            border-bottom: 1px solid lightgrey;
        }
        .size {
            height: 40px;
            margin: 0 8px;
        }
    </style>