@model RestauranteQR.ViewModel.VMPedido

@{
    ViewData["Title"] = "Carta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tu Pedido</h1>

<p>
    <h2>HACE TU PEDIDO TOCANDO LOS BOTONES</h2>
</p>
<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>*@
    <tbody>
        @for (int i = 0; i < Model.ListaVMPedidoItem.Count; i++)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ListaVMPedidoItem[i].NombrePlato)
                </td>
                <td>
                    <input type="hidden" asp-for="@Model.ListaVMPedidoItem[i].IdPlato" />

                </td>
                <td><button onclick="Agregar(@i)">+</button></td>
                <td>
                    @Html.TextBoxFor(m => Model.ListaVMPedidoItem[i].Cantidad)

                </td>

                <td><button onclick="Restar(@i)">-</button></td>

            </tr>
        }

    </tbody>
</table>
<button type="submit" onclick="Dev()">Confirmar pedido!</button>
<script>

    function Agregar(indiceTocado) {
        //vamos a hacer que sume el innerHtml para que muestre la cantidad correcta en el textbox //, new {arroba type = "number" }
        //var valor = document.getElementById('ListaVMPeidoItem_' + indiceTocado + '__Cantidad');
        //alert(valor.value);

        var elemento = document.getElementById('ListaVMPedidoItem_' + indiceTocado + '__Cantidad');
        var num = parseInt(elemento.value);
        num++;
        elemento.value = num;

    }

    function Restar(indiceTocado) {
        //vamos a hacer que reste el innerHtml para que muestre la cantidad correcta en el textbox
        //var valor = document.getElementById('ListaVMPeidoItem_' + indiceTocado + '__Cantidad');
        //alert(valor.value);

        var elemento = document.getElementById('ListaVMPedidoItem_' + indiceTocado + '__Cantidad');
        var num = parseInt(elemento.value);
        if (num > 0) {
            num--;
            elemento.value = num;
        }
  
    }

    //function Dev() {
    //   ListaVMPedidoItem misPedidos = new ListaVMPedidoItem();
    //    return misPedidos;
   // }

</script>
